/*Controls, menus, inputs, buttons*/

/*Mixins*/
/* Added to Mixins partial */

/*Buttons and anchors*/

.button {
    @include button-basics;
    &.save {
        background-color: $accent05;
    }
    &.save:hover {
        background-color: $success;
        color: $neutral01;
    }
    &.cancel {
        background-color: $neutral07;
    }
    &.cancel:hover {
        background-color: $critical;
        color: $neutral01;
    }
    &.save,
    &.cancel {
        @include rev-text-button;
    }
    transition: $button-in-transition;
    &:hover,
    &:focus {
        transition: $button-out-transition;
    }
}

.project-view {
    .button {@include button-basics;}
}

.icon-btn {
    transition: $text-in-transition;
    &:hover {transition: $text-out-transition;}
}

.button.clean-btn {
    @include div-reset;
    &.xlarge {font-size: $xl-icon;}
    transition: $text-in-transition;
    &:hover,
    &:focus {transition: $text-in-transition;}
}

.anchor-icon {
    &:first-child {margin-right: 10px;}
    &:last-child {margin-left: 10px;}
    &.xs-icon {
        font-size: $xs-icon;
        line-height: 1;
    }
}

.add-btn,
.button.add {
    @include add-button;
}

.device-view {
    .header {
        .btn-group {
            & > *:not(:first-child) {
            margin-left: $short-space;
            }
        }
        .button.add {
            @include add-button-device;
        }
        .icon-btn {
            color: $accent01;
            padding-top: 2px;
            &:hover,
            &:focus {
                color: $neutral09;
            }
        } 
    }
}

.control {
    &.with-icon {
        @include flex-row-nowrap;
        align-items: center;
    }
    .icon {
        margin-left: $short-space;
        color: $neutral06;
        transition: $text-in-transition;
        &:hover,
        &:focus,
        &:active {
            color: $neutral09;
            transition: $text-out-transition;
        }
    }
}

/*Dropdown menu*/

.drop-down {
    @include ul-default;
    @include flex-row-nowrap;
    position: relative;
    li {
        @include flex-row-nowrap;
        align-items: center;
        padding: 0 1.1em;
        &:hover {
            a {
                transition: $text-out-transition;
                .anchor-icon {
                    color: $neutral01;
                    transition: $text-out-transition;
                    }
            }  
        }
        a {
            color: $neutral01;
            transition: $text-in-transition;
            text-align: left;
            .anchor-icon {transition: $text-in-transition;}
        }
        .anchor-icon {color: $accent06;}
        .drop-down-content {
            position: absolute;
            display: none;
            background-color: $neutral01;
            box-shadow: $dropdown-shadow;
            z-index: 4;
            min-width: 3rem;
            li {
                a {
                    display: block;
                    color: $neutral09;
                    padding: 6px 8px;
                } 
                &:hover {
                    a {
                        color: $accent01;
                    }
                }
            }
        }
    }
    li:hover {
        .drop-down-content {
            display: block;
            top: $ribbon-height;
        }
    }
}

/*Icon toolbar*/

.icon-toolbar {
    @include icon-toolbar;
}

.project-view.leadpm,
.project-view.testlead {
        .icon-toolbar {display: none;}
        .phase-selector.tabs {
            ul > .tab-btn,
            ul > .tab-btn.is-active {
                .icon-toolbar {display: none;}
            }
        }
    .button.add {display: none;}
    }

.table-icon-toolbar {
    @include icon-toolbar;
    background-color: $neutral01;
    justify-content: flex-end;
    .icon-btn {
        color: $neutral06;
        &.icon-save:hover {color: $ms-green;}
        &.icon-cancel:hover {color: $ms-dark-red;}
        &.icon-edit:hover {color: $neutral09;}
    }
}

.editable {
    .table-icon-toolbar {
        .icon-save,
        .icon-cancel {display: none;}
    }
}

.editing {
    .table-icon-toolbar {
        .icon-edit {display: none;}
    }
}

/*Tabs navigation*/

.phase-selector.tabs {
    ul {
        @include phase-tabs-border;
            .phase-name {
                color: $neutral04;
                border: none;
                padding: 0.5em 1em 0.5em 0;
                flex: 1 0 auto;
                }
            .icon-btn-sm {
                    @include small-icon;
                    border: none;
                }
        .icon-toolbar {
            margin: 0;
            padding: 0;
            border: none;
            .icon-btn {
                color: $neutral04;
                &:hover {color: $neutral01;}
                }
            .icon-btn-sm:not(:first-child) {
                padding-left: $default-space;
                }
            }
        }
    ul > .tab-btn {
        @include flex-row-nowrap;
        @include phase-tabs-border;
        margin-right: $generous-space;
        margin-bottom: -$default-space;
        .phase-name {
            color: $neutral04;
            transition: $text-in-transition;
            }
        &:hover,
        &:focus {
            .phase-name {
                color: $neutral01;
                transition: $text-out-transition;
                }
            }
        .icon-toolbar {display: none;}
        }
    ul > .tab-btn.is-active {
        .phase-name {
            border: none;
            color: $neutral01;
        }
        border-color: $accent06;
        .icon-toolbar {display: flex;}
        }
    
    .button {
        @include add-button-phase;
    }
}

/*Vertical button stacks*/

.milestone-nav {
    @include flex-column;
    justify-content: space-between;
    .milestone-btn-group {
        margin-bottom: 1px;
        .label-sc {
            color: $neutral05;
            margin-bottom: $comfortable-space; 
            }
        .milestone-tab {
            @include vertical-column-button;
            justify-content: flex-start;
            color: $neutral04;
            background: $neutral07;
            .icon-btn {
                color: $neutral08;
                &:hover,
                &:focus {color: $accent00;}
                }
            }
        .milestone-tab:not(.selected) {
            a {
                color: $neutral04;
                transition: $text-in-transition;
                &:hover,
                &:focus {
                    transition: $text-out-transition;
                    color: $neutral01;
                    }
                }
            .icon-toolbar {display: none;}
            }
        .milestone-tab.selected {
            border-right-width: 0;
            color: $neutral01;
            background-color: $neutral05;
            &>a{
                font-size: $h3-default;
                color: $neutral01;
                }
            }
        }
    .button.add {
        @include vertical-column-button;
        @include add-button-phase;
        
    }
}

/*Accordion nav*/

.device-nav {
    .button.add {
        background-color: $neutral06;
        color: $neutral04;
        &:hover,
        &:focus {
            background-color: $accent05;
            color: $neutral01;
        }
    }
    .device-accordion + .button.add {margin-right: $accordion-label-mr;}
    .accordion-panel {
        .button.accordion-btn {
            @include label;
            background-color: $neutral02;
            color: $neutral09;
            display: block;
            height: auto;
            &:first-child {margin-top: $thin-space;}
            &:not(:last-child) {margin-bottom: $thin-space;}
            &:hover,
            &:focus,
            &.active {
                color: $accent01;
                background-color: $neutral01;
            }
        }
        .button {
            margin-left: $thin-space;
            margin-right: $thin-space;
            &:last-child {
                margin-bottom: $thin-space;
                min-height: $add-btn-min;
            }
        }
    }
    label {
        @include flex-row-nowrap;
        justify-content: space-between;
        position: relative;
        z-index: 20;
        cursor: pointer;
        height: 40px;
        margin-right: $accordion-label-mr;
        transition: $accordion-margin-in, flex $transition-in;
        .accordion-label {
            @include label-style;
            height: 100%;
            background-color: $neutral04;
            transition: $button-in-transition, flex $transition-in;
        }
        .triangle-right {
            flex: 0 0 auto;
            transition: border-left-color $transition-in, border-left-width $transition-in, flex $transition-in;
        }
        .accessories-indicator {
            height: 100%;
            padding: 0 8px 0 4px;
            transition: background-color $transition-in, flex $transition-in;
        }
        &.with-accessories {
            .accessories-indicator {
                @include flex-vertical-jsa;
                align-items: center;
                background-color: $neutral08;
            }
            .icon.icon-sm {
                min-width: $generous-space;
                min-height: $default-space;
                width: $generous-space;
                height: $default-space;
                color: $neutral05;
                transition: $text-in-transition;
            }
            .device-count {
                @include centered-label;
                color: $neutral04;
                transition: $text-in-transition;
            }
            .triangle-right {
                @include triangle-right;
                border-left-color: $neutral09;
                border-left-width: 0;
            }
        }
        &.device-only {
            .accessories-indicator {display: none;}
            .triangle-right {
                @include triangle-right;
                border-left-color: $neutral04;
                border-left-width: 0;
            }
        }
        &:hover,
        &:focus {
            .accordion-label {
                background-color: $neutral03;
                color: $neutral09;
                transition: $button-out-transition;
            }
            .accessories-indicator {
                background-color: $neutral08;
                transition: $button-out-transition;
                .device-count,
                .icon {
                    color: $neutral01;
                    transition: $text-out-transition;
                    }
            }
            &.with-accessories {}
            &.device-only {}
        }
    }
    .accordion-panel input:checked ~ label {
        .triangle-right {
            transition: border-left-color $transition-out, border-left-width $transition-out, flex $transition-out;
        }
    }
    .accordion-panel input:checked ~ label.with-accessories {
        margin-right: 0;
        transition: $accordion-margin-out, flex $transition-out;
        .accordion-label {
            background-color: $neutral01;
            color: $accent01;
        }
        .accessories-indicator {
            background-color: $accent02;
            transition: background-color $transition-out, flex $transition-out;
            .device-count,
            .icon {
                color: $neutral01;
            }
        }
        .triangle-right {
            @include triangle-right;
            border-left-color: $accent02;
        }
    }
    .accordion-panel input:checked ~ label.device-only {
        margin-right: 0;
        transition: $accordion-margin-out, flex $transition-out;
        .accordion-label {
            background-color: $neutral01;
            color: $accent01;
        }
        .triangle-right {
            @include triangle-right;
            border-left-color: $neutral01;
        }
    }
}

.table-head-panel {
    background-color: $neutral02;
    transition: $button-in-transition;
    &:hover,
    &:focus {
        background-color: $accent06;
        transition: $button-out-transition;
    }
}

/*Onboarding Panel*/

.onboard-first {
    .xlarge.clean-btn {
        color: $accent06;
        &:hover,
        &:focus {color: $neutral01;}
        }
}

.onboarding-notification {}

/*Inputs and Fields*/

.task-panel {
    .field {
        .field-label {
            @include label;
        }
    }
    .input,
    input,
    .textarea,
    textarea {
        @include input-text-default;
        @include standard-input;
        @include truncate;
    }
}

.field-group {
    margin-bottom: $default-space * 1.8;
    &:last-child {margin-bottom: 0;}
    .required {@include required-indicator;}
}

.field {
    &.large-clean-input {
        .input.is-large {
            @include clean-input;
            background-color: transparent;
            font-size: $h2-default;
            height: auto;
            padding: 0;
            margin: 0;
            border-color: none;
        }
    }
    &.checkbox,
    &.radio {@include checkbox;}
}

.large-clean-input {
    @include div-reset;
}

.field-label {
    @include label;
}

.cell-boole {
    @include checkbox-solo;
}

.accordion-body-table {
    .field > .control > .input {
        @include input-text-cell;
        @include standard-input;
        @include truncate;
    }
}

.task-footer {
    .button {
        @include button-basics;
        border: none;
        font-size: $h4-default;
    }
    .is-block {
        .button:not(:first-child) {margin-left: $short-space;}
    }
}

.auto-complete {
    background-color: $neutral02;
    box-shadow: $dropdown-shadow; 
    padding: $default-space;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 50vh;
    .item {
        @include line-item;
        @include truncate;
        color: $neutral07;
        transition: $text-in-transition;
        &.selected,
        &:focus,
        &:hover,
        &:active {
            color: $neutral09;
            transition: $text-out-transition;
        }
    }
}
