/*Layout basics*/

html {
    @include html-defaults;
    background-color: $background;
    font-size: $html-default;
}

.screen-title {
    @include body-elements;
    padding-top: $title-below-ribbon;
    h1 {
        color: $neutral01;
        margin: 0 0 $comfortable-space;
    }
}

.phase-view,
.milestone-nav {
    background: $phase-background;
}

.milestone-view {
    background: $milestone-background;
}

main {
    @include body-elements;
}

.project-view {
    .columns {margin:0;}
    .phase {
        .milestone-view.columns {
            .milestone-nav {
                @include flex-column;
                padding:0;
                justify-content: space-between;
            }
        } 
    }
}

.phase-view {
    .phase-view-title {
        @include flex-row-nowrap;
        justify-content: flex-start;
        padding: 10px $generous-space;
        align-content: center;
        p {
            color: $neutral01;
            display: block;
        }
    }
}

.device-view {
    margin: $default-space $default-space $default-space 0;
    background-color: $neutral02;
    padding: $comfortable-space;
    .header {
        @include flex-row-nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $default-space;
        h2 {
            @include auto-width-flex;
            @include truncate;
        }
        .btn-group {
            @include flex-row-nowrap;
            justify-content: flex-end;
            flex: 0 1 auto;
        }
    }
}

.onboard-first {
    @include flex-column;
    height: 88vh;
    justify-content: center;
    .notification {
        margin: 0 auto;
        text-align: center;
        &.clean {
            @include div-reset;
            p, h1 {color: $neutral01;}
        }
    }
}

/*Ribbon*/

.nav {
    .nav-menu {
        p {
            color: $neutral01;
            .icon {
                color: $neutral01;
                &:first-child {padding-right: $default-space;}
            }
        }
    }
}

.ribbon,
.ribbon.nav {
    @include ribbon;
    box-shadow: $ribbon-shadow;
    h2, h3, h4 {
        color: $neutral01;
        align-self: center;
    }
    .nav-right.with-drop-down {
        overflow:visible;
    }
}

/*DOM containers*/

.phase-view {
    .phase {
        padding: 0 $generous-space $generous-space;
        .milestone-view {
            /*padding: 0 $generous-space $generous-space;*/
        }
    }
}

.phase-selector {
    flex-direction: column;
    .label-sc {color: $neutral06;}
}

/*Tables*/

.table,
.accordion-label-table,
.accordion-body-table {
    td, th {
        @include truncate;
        padding: $thin-space $short-space;
    }
    .shortest tr th {
        height: 0;
        padding: 0;
    }
    th.integer {text-align: center;}
    td.integer {text-align: center;}
    th.control {text-align: left;}
    td.control {text-align: center}
    tbody {
        background-color: $neutral02;
        border-bottom: 1px solid $neutral04;
        &:last-child {border-bottom: 0 solid transparent;}
        tr {
            border-bottom: 1px solid $neutral01;
            &:last-child {border-bottom: 0 solid transparent;}
        }
        tr.subsection {border-bottom: 0 solid transparent;}
    }
    .section-header {
        background-color: $neutral01;
    }
    td:not(.section-header):first-child {padding-left: $luxury-space;}
    td.field {
        padding: $thin-space;
        &:first-child {padding-left: $thin-space}
    }
}

/*Task Panels*/

.task-panel {
    @include flex-row-wrap;
    justify-content: space-between;
    .configuration-panel {background-color: $neutral06;}
}

.task-view {
    margin-top: $main-below-ribbon;
    &~.screen-title {
        margin-top: 0;
    }
    .task-panel {
        background-color: $neutral03;
        .configuration-panel {background-color: $neutral02;}
    }
    .column {
        &.third {
            @include one-third-flex;
        }
        &.two-thirds {
            @include two-thirds-flex;
        }
        &.full-width {
            @include full-width-tile;
        }
        &.required {
            padding: $generous-space 0 0 $generous-space;
        }
        &.optional {
            padding: $generous-space 0 $generous-space $generous-space;
            .breadcrumbs {margin: 0 $generous-space $generous-space 0;}
        }
    }
    .long-field-group {
        @include object-grid;
        .field {@include object-grid-object;}
        .string {@include auto-width-flex;}
        .integer {@include one-eighth-flex;}
        .name {@include one-third-flex;}
        .date {@include one-quarter-flex;}
        .text-area {
            @include full-width-tile;
            .control {margin-right: $generous-space;}
        }
        .checkbox {
            @include one-quarter-flex;
            display: inline-flex;
            align-items: center;
        }
        .radio {@include one-quarter-flex;}
    }
}

/*Meta-data grid*/
.meta-data-group {
    @include object-grid;
    .label-value {@include object-grid-object;}
}

/*Breadcrumbs*/

.breadcrumbs {
    @include full-width;
    padding: $short-space 0;
    background-color: $neutral03;
    overflow: hidden;
    .breadcrumb-list {
        @include flex-row;
        margin: 0 $short-space;
        justify-content: space-around;
    }
    .breadcrumb {
        @include horizontal-list;
        justify-content: flex-start;
        align-items: center;
        flex: 1 1 17%;
        max-width: 17%;
        &:not(:first-child) {margin-left: -9px;}
        p {
            @include truncate;
            height: 32px;
            padding: $thin-space $default-space;
            background-color: $breadcrumb;
        }
        &::before {
            @include arrow-left;
        }
        &::after{
            @include arrow-head;
        }
        &:first-child {
            &::before {display: none;}
        }
        &:last-child {
            &::after {display: none;}
        }
    }
    .breadcrumb.current {
        p {
            background-color: $breadcrumb-active;
            color: $neutral01;
        }
        &::before {@include arrow-left-active;}
        &::after {@include arrow-head-active;}
    }
}

/*Accordions*/

.device-nav {
    @include flex-column;
    justify-content: space-between;
    margin: $default-space 0 $default-space $default-space;
    background-color: $neutral07;
    padding-right: 3px;
}
.device-accordion {
    @include hide-checkbox;
    @include hide-radio;
    margin-bottom: $thin-space;
    .label-sc {
        margin-bottom: $comfortable-space;
        color: $neutral05;
        }
    .accordion-panel {
        &:not(:last-child) {margin-bottom: $thin-space;}
    }
    .accordion-panel .accessories-list {
        @include accordion-animate-in;
        @include flex-column;
        background-color: $neutral04;
        margin: 0 $accordion-label-mr 0 0;
    }
    .accordion-panel input:checked ~ .accessories-list {
        @include accordion-animate-out;
    }
}

.configuration-accordion {
    .label-sc {
            color: $neutral06;
            margin-bottom: $default-space;
        }
    .accordion-panel {
        @include hide-checkbox;
        &:not(:last-child) {margin-bottom: $hair-space;}
        .configuration-label {
            background-color: $neutral07;
            height: $accordion-label;
            padding: $short-space;
            @include flex-row-nowrap;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            transition: $button-in-transition;
            h4 {
                @include one-third-flex;
                color: $neutral03;
                @include truncate;
                display: block;
                margin-right: $default-space;
            }
            .label-value {
                @include label-value-div;
                @include flex-row-nowrap;
                @include one-quarter-flex;
                align-items: center;
                .label {
                    margin: 0 $short-space 0 0;
                    color: $neutral05;
                }
                .value {
                    color: $neutral03;
                    @include truncate;
                }
            }
            .icon-toolbar {
                @include one-fifth-flex;
                justify-content: flex-end;
            }
            &:hover,
            &:focus {
                background-color: $neutral08;
                transition: $button-out-transition;
            }
        }  
    }
    .accordion-panel input:checked ~ .accordion-body {
        @include accordion-animate-out;
        overflow-y: auto;
    }
    .accordion-panel input:checked ~ .configuration-label {
        background-color: $accent02;
        .label-value .label {color: $accent06;}
        .icon-toolbar .icon-btn {
            color: $accent06;
            &:hover,
            &:focus {color: $neutral01;}
        }
    }
    .accordion-body {
        @include accordion-animate-in;
        &.configuration-detail {
           background-color: $neutral01; 
            }
        .meta-data-group {padding: $comfortable-space;}
        .label {color: $accent01;}
        .value {color: $neutral09;}
        .label-value {
            @include label-value-div;
            &.string,
            &.date,
            &.integer {
                .value {@include truncate;}
                }
            &.accordion {}
            &.checkbox {}
            &.paragraph {}
        }
        
    }
}

.accordion-panel.table-accordion {
    .table-head-panel {
        display: block;
        cursor: pointer;
        .icon-btn-xs {@include very-small-icon-box;}
        }
    .accordion-body.unit-requests {
        @include accordion-animate-in;
    }
    input:checked ~ .accordion-body.unit-requests {
        @include accordion-animate-out;
        overflow-y: auto;
        height: 340px;
        max-height: 340px;
        overflow-y:auto;
    }
    input:checked ~ .table-head-panel {
        background-color: $accent06;
    }
}


.accordion-panel input:checked ~ .accessories-list.short{
	height: 144px;
    max-height: 200px;
    overflow-y: auto;
}

.accordion-panel input:checked ~
.accordion-panel input:checked ~ .accessories-list.long{
	height: 6em;
}
