/*Device Configuration Manager theme*/

/*Neutrals*/

$neutral01:     #FFFFFF;
$neutral02:     #F0F0F0;
$input-bkg:     #F2F2F2;
$neutral03:     #E3E3E3;
$input-border:  #B3B3B3;
$neutral04:     #BEBEBE;
$neutral05:     #959595;
$neutral06:     #8D8D8D;
$neutral07:     #626262;
$neutral08:     #2E2E2E;
$neutral09:     #000000;

/*Warm Palette*/
/*
$accent01:      #D83B01;
$accent02:      #E55601;
$accent03:      #F27100;
$accent04:      #FF8C00; 
$accent05:      #FFA90E;
$accent06:      #FFC61C;
*/

/*Cool Palette*/

$accent00:       #00188F;
$accent01:       #0078D7;
$accent02:       #0078A3;
$accent03:       #00959B;
$accent04:       #00B294;
$accent05:       #00BCF2;
$accent06:       #80D7D9;

/*Alert Colors*/
$ms-dark-red:   #A80000;
$ms-green:      #107C10;


/*Semantic Naming*/

$background:            $neutral08;
$ribbon-background:     $accent01;
$project-background:    $neutral07;
$phase-background:      $neutral07;
$milestone-background:  $neutral05;
$shadow:                rgba(0, 0, 0, 0.3);
$semi-opaque:           rgba(255, 255, 255, 0.4);
$add-btn-glyph:         $neutral03;
$add-btn-bkg:           $neutral06;
$critical:              $ms-dark-red;
$success:               $ms-green;
$breadcrumb:            $neutral01;
$breadcrumb-active:     $accent05;